.statBtn {
  margin-right: 10px;
  width: 70px;
  height: 20px;
  border: 1px solid hsl(0, 2%, 74%);
  border-radius: 6px;
  font-family: Segoe UI;

  font-size: 12px;
  font-weight: 700;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.statContainer {
  display: flex;
}
